{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<main id="home-main">
  <div class="inner content-inner">
    <section>
      <h1>BioWare introduced us, but our appreciation goes with you</h1>
      <p>Many people make the games that we love - devs past and present, those recently let go, those long since left, and those still working today. We appreciate all of you and your contributions, highly publicized or seemingly invisible.</p>
      <a href="{% url 'submissions' %}">[ Codex Entries ]</a>
    </section>
    <img src="{% static 'images/CC_Controller-navy-whiteoutline.png' %}" alt="CrewAndCompanions Controller Logo">
  </div>
</main>
{% endblock content%}