{% load static %}
{% load compress %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crew and Companions</title>
    {% compress css %}
        <link type="text/x-scss" href="{% static 'css/styles.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="{% static 'js/base.js' %}" defer></script>
</head>
<body>
    {% include 'layout/navbar.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'layout/footer.html' %}
</body>
</html>